.drawer { /* stylelint-disable */
    position: fixed;
    top: 0;
    left: -30rem;
    height: 100%;
    width: 30rem;
    background-color: #fff;
    padding: 0;
    transition: 0.25s ease-in-out;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15), 0 3px 10px rgba(0, 0, 0, 0.22);
    z-index: 1000;
}

.drawer-open {
    left: 0;
}

.item {
    padding: 2.5rem;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.item:hover {
    background-color: #f6f6f6;
}