.appBar { /* stylelint-disable */
    width: 100%;
    padding: 2rem;
    background-color: #00afcc;
    color: #fff;
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-button {
    cursor: pointer;
    margin-right: 1.5rem;
}

.icon {
    font-size: 2rem;
    color: #fff;
}

.icon:hover {
    color: #e5e5e5;
}

.link-container {
    font-size: 1.6rem;
}

.heading {
    text-align: left;
    flex-grow: 2;
} 